<div class="picture-editor">
  <svg class="svg-area" xmlns="http://www.w3.org/2000/svg"
       [attr.width]="width" [attr.height]="height"
       (mouseenter)="onMouseEnter($event)"
       (mouseleave)="onMouseLeave($event)"
       (mousedown)="onMouseDown($event)"
       (mouseup)="onMouseUp()"
       (mousemove)="onMouseMove($event)"
  >
    <image id="image" href="https://blog.logoraisr.com/content/images/size/w2000/2020/02/svg-logo-h.svg"
           height="600" width="800"
    ></image>

    <rect *ngFor="let defectArea of defectAreas"
          [attr.x]="defectArea.x0"
          [attr.y]="defectArea.y0"
          [attr.width]="defectArea.x1 - defectArea.x0"
          [attr.height]="defectArea.y1 - defectArea.y0"
          stroke="red"
          fill-opacity="0"
          stroke-width="1"/>
    <rect *ngIf="drawing"
          [attr.x]="drawingDefectArea.x0"
          [attr.y]="drawingDefectArea.y0"
          [attr.width]="drawingDefectArea.width"
          [attr.height]="drawingDefectArea.height"
          stroke="green"
          fill-opacity="0"
          stroke-width="1"/>
  </svg>
  <app-picture-editor-panal class="panel-area"></app-picture-editor-panal>
</div>
